.extraction-bar .unity-progress-bar__progress {
    background-color: green;
}

#HealthBar {
    width: 300px;  
    height: 30px;    
}

#HealthBar .unity-progress-bar__progress {
    background-color: red;
    flex-grow: 1;
}


#HealthBar .unity-progress-bar__title {
    color: white;  
}