.chest-prompt {
    flex-direction: column;
    align-items: center;
    width: 64px;
}

.chest-icon {
    width: 52px;
    height: 52px;
    /* background-image: url("project://database/Assets/Art Assets/2D/UI assets/Tab_Icon_Base_1.png"); */
    /* -unity-background-scale-mode: scale-to-fit; */
    margin-bottom: 4px;
}

.chest-key-label {
    -unity-font-style: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.90);
    -unity-text-align: middle-center;
    margin: 0px;
    padding: 0px;
}