.gold-container {
    flex-direction: row;
    align-items: center;
}

.gold-icon {
    width: 28px;
    height: 28px;
    background-image: url("project://database/Assets/Art%20Assets/2D/UI/Gold/CapyCoin.png?fileID=2800000&amp;guid=21a8d7c599d484ea1a99c0bf53558bf6&amp;type=3#CapyCoin");
    -unity-background-scale-mode: scale-to-fit;
}

.gold-label {
    -unity-font-style: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-left;
    margin: 0px;
    margin-left: 8px;
    padding: 0px;
}
